checkpoints
.venv
visualization
dataset/raw
dataset/synthetic
dataset/zips
.ruff_cache
*.log
*.pyc
__*
**/__pycache__/
*.pyc
**/*.pyc
*.db
=0.1.4
**/=0.1.4
**/**/=0.1.4
notebooks/
notebooks-example
.jupyter/
**.ipynb
**/**/**.ipynb
dataset/generator/notebooks-py/
scripts/rclone.conf
scripts/r2.env
papers